{% comment %} {% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<form method="POST" action="{% url 'upload'%}" entypr="multipart/form-data">
  {% csrf_token %}
  <ul
    class="contactList d-flex flex-lg-column gap-2"
    style="list-style: none; padding: 1.1rem"
  >
    <li id="number_of_sales" class="contact p-lg-2">
      {{ form.number_of_sales }}
    </li>
    <li id="revenue" class="contact">{{ form.revenue }}</li>
    <li id="number_of_customers" class="contact">
      {{ form.number_of_customers }}
    </li>
    <li id="year" class="contact">{{ form.year }}</li>
  </ul>
  <input type="submit" value="Send Data to DataBase" />
</form>
{% endcomment %} style{ html, body { border: 0; margin: 0; padding: 0; } body {
font: 14px "Lato", Arial, sans-serif; min-width: 100%; min-height: 100%; color:
#666; } .container { margin: 0 auto; max-width: 1200px; } * { margin: 0;
padding: 0; box-sizing: border-box; } .row { float: left; width: 100%; padding:
20px 0 50px; } h2 { text-align: center; color: #2079df; font-size: 28px; float:
left; width: 100%; margin: 30px 0; position: relative; line-height: 58px;
font-weight: 400; } h2:before { content: ""; position: absolute; left: 50%;
bottom: 0; width: 100px; height: 2px; background-color: #2079df; margin-left:
-50px; } /*= Reset CSS End ================= */ /*= input focus effects css
=========================== */ :focus { outline: none; } .col-3 { float: left;
width: 27.33%; margin: 40px 3%; position: relative; } /* necessary to give
position: relative to parent. */ input[type="text"] { font: 15px/24px "Lato",
Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box;
letter-spacing: 1px; } .effect-1{ border: 0; padding: 7px 0; border-bottom: 1px
solid #ccc; } .effect-1 ~ .focus-border { position: absolute; bottom: 0; left:
0; width: 0; height: 2px; background-color: #3399ff; transition: 0.4s; }
.effect-1:focus ~ .focus-border { width: 100%; transition: 0.4s; } .effect-8,
.effect-9 { border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s; }
.effect-8 ~ .focus-border:before, .effect-8 ~ .focus-border:after { content: "";
position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color:
#3399ff; transition: 0.3s; } .effect-8 ~ .focus-border:after { top: auto;
bottom: 0; left: auto; right: 0; } .effect-8 ~ .focus-border i:before, .effect-8
~ .focus-border i:after { content: ""; position: absolute; top: 0; left: 0;
width: 2px; height: 0; background-color: #3399ff; transition: 0.4s; } .effect-8
~ .focus-border i:after { left: auto; right: 0; top: auto; bottom: 0; }
.effect-8:focus ~ .focus-border:before, .effect-8:focus ~ .focus-border:after {
width: 100%; transition: 0.3s; } .effect-8:focus ~ .focus-border i:before,
.effect-8:focus ~ .focus-border i:after { height: 100%; transition: 0.4s; }
.effect-9 ~ .focus-border:before, .effect-9 ~ .focus-border:after { content: "";
position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color:
#3399ff; transition: 0.2s; transition-delay: 0.2s; } .effect-9 ~
.focus-border:after { top: auto; bottom: 0; right: auto; left: 0;
transition-delay: 0.6s; } .effect-9 ~ .focus-border i:before, .effect-9 ~
.focus-border i:after { content: ""; position: absolute; top: 0; left: 0; width:
2px; height: 0; background-color: #3399ff; transition: 0.2s; } .effect-9 ~
.focus-border i:after { left: auto; right: 0; top: auto; bottom: 0;
transition-delay: 0.4s; } .effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after { width: 100%; transition: 0.2s;
transition-delay: 0.6s; } .effect-9:focus ~ .focus-border:after {
transition-delay: 0.2s; } .effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after { height: 100%; transition: 0.2s; }
.effect-9:focus ~ .focus-border i:after { transition-delay: 0.4s; } .effect-10,
.effect-11 { border: 0; padding: 7px 15px; border: 1px solid #ccc; position:
relative; background: transparent; } .effect-10 ~ .focus-bg { position:
absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #ededed;
opacity: 0; transition: 0.5s; z-index: -1; } .effect-10:focus ~ .focus-bg {
transition: 0.5s; opacity: 1; } .effect-11 ~ .focus-bg { position: absolute;
left: 0; top: 0; width: 0; height: 100%; background-color: #ededed; transition:
0.3s; z-index: -1; } .effect-11:focus ~ .focus-bg { transition: 0.3s; width:
100%; } }
<div class="row">
  <div class="container">
    <h2>Border effects</h2>
    <div class="col-3">
      <input class="effect-1" type="text" placeholder="Placeholder Text" />
      <span class="focus-border"></span>
    </div>

    <div class="col-3">
      <input class="effect-8" type="text" placeholder="Placeholder Text" />
      <span class="focus-border">
        <i></i>
      </span>
    </div>
    <div class="col-3">
      <input class="effect-9" type="text" placeholder="Placeholder Text" />
      <span class="focus-border">
        <i></i>
      </span>
    </div>
  </div>
</div>
